<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computeactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputeActivity">
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".MoyenneActivity" />
        <activity android:name=".AccueilActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculatriceActivity" />
        <activity android:name=".RadioActivity" />
        <activity android:name=".ComputeActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>