<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application0">
    <!-- Permission avant le version 23 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permissions.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ok"
        android:label="Gestion Contact"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application0"
        android:usesCleartextTraffic="true">
        <activity android:name=".UpdateActivity"></activity>
        <activity android:name=".Affichage" />
        <activity android:name=".Acceuil" />
        <activity android:name=".Ajout" />
        <activity android:name=".Authentification"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>